<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>Deporte</title>
        <link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link href="main.css" rel="stylesheet" type="text/css"/>
		<link href="cielo.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" type="text/javascript">
        //<![CDATA[
            var last_run = '{{ data.now.strftime("%Y-%m-%d-%H-%M") }}';
            var next_run = '{{ data.cron.next.strftime("%Y-%m-%d-%H-%M") if data.cron and data.cron.next else "null" }}';
        //]]>
        </script>
        <script src="main.js" async="async" type="text/javascript"></script>
	</head>
	<body>
		<p>Última actualización: {{ data.now.strftime("%A %d a las %H:%M").replace(" 0", " ") }}</p>

		<p>
			<b>Squash</b> 
			[<a href='https://gestiona.madrid.org/cronosweb'>reservar</a>]
		</p>
		{% with array = data.paul %}
		{% include "times.html" %}
		{% endwith %}

		<p>
			<b>Frontón</b> 
			[<a href='https://deportesweb.madrid.es/deportesWeb'>reservar</a>]
		</p>
		{% with array = data.mina %}
		{% include "times.html" %}
		{% endwith %}

		<p>
            <b>(*)</b> Solo se muestran los horarios entre las {{ data.h_min_f }}, en festivos, o las {{ data.h_min_l }}, en laborales, y las {{ data.h_max }}.
        </p>

        <hr/>
        
        <p>
            <b>Squash</b>: <a href='https://www.google.es/maps/place/Calle+del+Pelicano,+4,+28025+Madrid'>C/ Pelicano 4</a><br/>
            8€ cada 45min.<br/>
            Contacto: <a href="tel:+34914697404">914 697 404</a> / <a href='mailto:sanvicente.paul@madrid.org'>sanvicente.paul@madrid.org</a>
        </p>
        <p>
            <b>Frontón</b>: <a href='https://www.google.es/maps/place/Calle+de+Monseñor+Oscar+Romero,+41,+28025+Madrid'>C/ Monseñor Oscar Romero 41</a><br/>
            6,90€ cada hora, si se pide iluminación cuesta 3,70€ más<br/>
            Contacto: <a href="tel:+34914661278">914 661 278</a> / <a href="tel:+34914661732">914 661 732</a>
        </p>
        
        <hr/>

        <p><b>Código fuente</b>: <a href='https://github.com/s-nt-s/deporte'>GitHub</a></p>
		<p>Para detectar los festivos se usa <a href='https://pypi.python.org/pypi/holidays'>holidays</a>, así que puede que se le escape alguna fecha.</p>
		<p>
            Los datos meteorologicos son extraidos de la <a href='http://www.aemet.es/es/eltiempo/prediccion/municipios/madrid-id28079'>aemet</a><br/>
            (esto esta en pruebas, mejor revisar directamente la fuente).
        </p>
        {% if data.cron and data.cron.next %}
        <p>
            Esta página se regenera {{ data.cron.summary }}.<br/>
            La próxima ejecución será el {{ data.cron.next.strftime("%A %d a las %H:%M").replace(" 0", " ") }}.<br/>
        </p>
        {% endif %}
	</body>
</html>
