<ul class="icon {{'sad' if not array }} {{ 'happy' if array }}">
{% if array %}
{% for r in array %}
	<li><span class='day'>{{ r.caption }}</span>:
		<ul class="h{{ r.max_width }}">
		{% for h in r.hours %}
			<li class='{{ h.class }} h{{ h.width }}'>
                {{ h.hour }}
                {% if h.rooms>1 %}
                    ({{ h.rooms }} salas)
                {% endif %}
            </li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
{% else %}
	<li>¡No hay nada libre!</li>
{% endif %}
</ul>
